flask~=2.3.2                # A simple framework for building complex web applications
uwsgi~=2.0.22               # The uWSGI server
prometheus-client~=0.17.1   # Python client for the Prometheus monitoring system
