click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
enum34==1.1.10
Flask==1.1.1
functools32==3.2.3.post2
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
pathlib2==2.3.7
prometheus-client==0.5.0
pycodestyle==2.5.0
pyflakes==2.1.1
scandir==1.10.0
six==1.16.0
typing==3.10.0.0
uWSGI==2.0.18
Werkzeug==1.0.1
zipp==1.2.0
